html {
  font-family: sans-serif;
  background-color: #e2e2e2;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: absolute;
  transition: all 250ms linear;
}

.polaroid > img {
  position: relative;
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  position: absolute;
  bottom: 1.2em;
  left: 0;
  width: 100%;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  text-align: center;
}

figure:nth-child(3) {
  z-index: 2;
  top: 100px;
  left: 40%;
  transform: rotate(33deg);
}

figure:nth-child(2) {
  z-index: 3;
  top: 150px;
  left: 30%;
  transform: rotate(5deg);
}

figure:nth-child(1) {
  z-index: 1;
  top: 100px;
  left: 20%;
  transform: rotate(-12deg);
}

.polaroid:hover {
  z-index: 1000;
  transform: rotate(0deg);
  box-shadow: 1px 4px 6px rgba(0, 0, 2, 10);
}
